body{
    background-color: #4292bf;
}

#top{
    background-color: #357599;
    padding: 15px;
    border: 3px solid #295872;
    text-align: center;
}
#title, .subtitle, .posttitle, .cttitle{
    color: #052538;
    font-family: sans-serif;
}
.artg{
    color: rgb(0, 10, 7);
    font-size: 20px;
}

.atc{
    background-color: #357599;
    padding: 13px;
    border: 3px solid #295872;
}